:root {
    --blue-color: rgb(134, 179, 218);
    --hover-blue: rgb(108, 173, 176);
    --text-color: white;
    --background-color: white;
    --font-size-large: 40px;
    --font-size-medium: 20px;
    --border-radius: 50px;
}

.questions-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    height: 100px;
}

.questions-top div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.questions-top p {
    background-color: var(--background-color);
    color: var(--blue-color);
    font-size: var(--font-size-large);
    width: 130px;
    height: 60px;
    border-radius: var(--border-radius);
    text-align: center;
    margin: 0;
    line-height: 60px;
}

.questions-top h1 {
    margin: 0;
    line-height: 35px;
}

.progress-bar {
    width: 100%;
    height: 15px;
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.bar {
    background-color: var(--blue-color);
    width: 70%;
    height: 8px;
    border-radius: 20px;
    transition: width 0.5s ease;
}

.questions-answers {
    width: 100%;
    text-align: left;
}

.questions-answers ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.questions-answers li {
    display: flex;
    align-items: center;
    height: 35px;
    font-size: var(--font-size-medium);
}

.questions-answers input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0;
}

.questions-answers li label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.questions-evaulation {
    background-color: var(--background-color);
    color: var(--blue-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.questions-evaulation #count {
    border: 2px solid var(--blue-color);
    height: 80px;
    width: 80px;
    border-radius: var(--border-radius);
    font-size: var(--font-size-large);
    line-height: 80px;
}

.questions-evaulation .buttonsDesign {
    background-color: var(--blue-color);
    color: var(--text-color);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.questions-evaulation .buttonsDesign:hover {
    background-color: var(--hover-blue);
}

.no {
    color: green;
}
.minimal {
    color: yellow;
}
.mild {
    color: orange;
}
.moderate {
    color: red;
}
.severe {
    color: darkred;
}
